*{
  margin: 0;
  padding: 0;
  font-family: Century Gothic;
}

header{
    background-image:linear-gradient(rgba(0,0,0,0.5)),(rgba(0,0,0,0.5)), url('gene.jpg');
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size:cover;
}
ul{
  float: left;
  list-style-type:none;
  margin-top: 25px;
}
ul li{ display: inline-block;
}
ul li a{
  text-decoration: none;
  color: SeaShell;
  padding: 5px 20px;
  border:1px solid transparent;
  transition: 0.6s ease;
}
ul li a:hover{
  background-color: SeaShell;
  color: #000;
}
.logo img{
  float:right;
  width:160px;
  height:110px;
}
.main{
  max width:1200px;
  margin:auto;
}
.title{
  margin-top: 75px;
}
.title h1{
  color:SeaShell;
  text-align:center;
  font-size: 70px;
}
  
 
.WHO img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:500px;
  height:300px;
}
.WHO h2{
  color: SeaShell;
  text-align: center;
}
.WHO p{
  color: Navy;
  text-align: center;
  background-color: SeaShell;
  font-size:150%;
  border 2px #000;
}

  
.MEET h2{
color=SeaShell;
  text-align: center;
}


.MEET table {
  color:Navy;
  font-family: arial, sans-serif;
  border: 1px solid black;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid black;
  background-color:SeaShell;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: OldLace;
  }
tr:nth-child(odd) {
  background-color: OldLace;
  }

.photos h2{
  color: SeaShell;
  text-align: center;
}
.photos h3{
  color: SeaShell;
  text-align: center;
}
.photos img{
  width:200px;
  height:200px;
}
.photos p{
 color: Navy;
 background-color: SeaShell;
 text-align:center;
}

.btn{
  border: 1px solid SeaShell;
  padding: 10px 30px;
  color: SeaShell;
  text-decoration: none;
  transition:0.6s ease;
}
.btn:hover{
  background-color: SeaShell;
  color: #000;
}

.DOC h2{
  color: SeaShell;
  text-align: center;
}

.CON h2{
  color: SeaShell;
}
.CON p{
  color: SeaShell;
}


  

  
  
  
  
